
# =============================================================================
#                       PRACTICE BINDS (REFRAG COMPATIBLE)
#                      This is separate config for practice.
# =============================================================================

# ================================= KEY BINDS =================================

# Open menu
alias "+menu" "exec practiceutils/convars_panel_on"
alias "-menu" "exec practiceutils/convars_panel_off"
bind "RSHIFT" "+menu"


# General
bind "V" "noclip"                                                              //Toggle noclip
bind "" "+noclip"                                                              //Activate noclip while holding a key
bind "U" "say .break"                                                          //Breaks all windows and vents (refrag only)
bind "I" "say .cleanup"                                                        //Replaces broken doors, windows, vents (refrag only)
bind "O" "say .observeme"                                                      //Puts everyone into spec to spectate you (refrag only)
bind "P" "say .restore"                                                        //Restores everyones positions/angles and equipped weapon after using .observeme (refrag only)
bind "" "+timespeedup"                                                         //Increase time speed
bind "Z" "+timespeedup2"                                                       //Increase time speed (less lags)
bind "ALT" "rboost"                                                            //Restarts round with X amount of seconds (depends on freezetime value)


# Grenades
bind "MOUSE4" "+zoom"                                                          //Toggle crosshair zoom
bind "Q" "+reload"                                                             //View endpoint of a nade (refrag only)
bind "T" "rethrow"                                                             //Rethrow last thrown grenade (refrag - or multiple recent thrown grenades at once for example .rethrow 0 1 2 3 4 would throw your most recent 5 grenades at once)
bind "L" "loadpos --pos 1 --player me; say .last"                              //Set position of last grenade (refrag compatible)
bind "Y" "clear_nades"                                                         //Erase smoke and fire
bind "7" "+molotov"                                                            //Replace incendiary grenade for molotov (refrag only)
bind "8" "+incendiary"                                                         //Replace molotov for incendiary grenade (refrag only)


# Bots
bind "[" "+bot_add_t; say .bot t"                                              //Add T bot (refrag - spawn a bot at your position)
bind "]" "+bot_add_ct; say .bot ct"                                            //Add CT bot (refrag - spawn a bot at your position)
bind "CTRL" "+bot_add"                                                         //Place bot at aim (refrag - spawn enemy bot at your position)
bind "K" "bot_duck"                                                            //Make all bots crouch (refrag - set crouched enemy bot at your position)
bind "BACKSPACE" "bot_kick; say .dismiss"                                      //Kick all bots (refrag - kick bot at aim)
bind "0" "+bot_kick"                                                           //Kick all bots


# Strategy recorder (refrag)
bind "PGUP" "say .arecord 2"                                                   //Records your POV after 2 secconds
bind "PGDN" "say .stoprecord"                                                  //Stop recording your POV
bind "INS" "say .play"                                                         //Playback all recordings
bind "DEL" "say .clearrecs"                                                    //Clear all recordings





# ==================================== LOGIC ==================================

# General
alias "+noclip" "noclip"
alias "-noclip" "noclip"

alias "+timespeedup" "host_timescale 20"
alias "-timespeedup" "host_timescale 1"

alias "+timespeedup2" "host_framerate 20"
alias "-timespeedup2" "host_framerate 0"

alias "rboost" "mp_warmup_start; mp_warmup_end; say .dryrun 5"

alias "+zoom" "fov_cs_debug 15"
alias "-zoom" "fov_cs_debug 0"

alias "keys_to_default" "bind SCANCODE21 +prediction; bind SCANCODE23 rethrow"
alias "rethrow" "sv_rethrow_last_grenade; say .rethrow"

alias "clear_nades" "ent_fire smokegrenade_projectile kill; ent_fire flashbang_projectile kill; ent_fire molotov_projectile kill; ent_fire hegrenade_projectile kill; ent_fire decoy_projectile kill; stopsound; say .clear"

alias "+molotov" "slot10"
alias "-molotov" "drop; say .mol"

alias "+incendiary" "slot10"
alias "-incendiary" "drop; say .inc"

alias "+bot_add" "bot_add_ct; savepos"
alias "-bot_add" "placebots; say .bot"

alias "+bot_add_t" "bot_add_t; savepos"
alias "-bot_add_t" "placebots; say .bot"

alias "+bot_add_ct" "bot_add_ct; savepos"
alias "-bot_add_ct" "placebots; say .bot"

alias "+bot_kick" "clearpos 1; clearpos 1; clearpos 1; clearpos 1; clearpos 1"
alias "-bot_kick" "bot_kick; say .dismissall"

alias "bot_duck" "bot_duck_on"
alias "bot_duck_on" "bot_crouch true; say .botcrouch on; alias bot_duck bot_duck_off"
alias "bot_duck_off" "bot_crouch false; say .botcrouch off; alias bot_duck bot_duck_on"


# ConVars
alias "toggle_regeneration" "regeneration_off"
alias "regeneration_off" "sv_regeneration_force_on false; alias toggle_regeneration regeneration_on; say .regeneration off"
alias "regeneration_on" "sv_regeneration_force_on true; alias toggle_regeneration regeneration_off; say .regeneration on"

alias "toggle_buddha" "buddha_off"
alias "buddha_off" "buddha false; alias toggle_buddha buddha_on; say .botstakedamage off"
alias "buddha_on" "buddha true; alias toggle_buddha buddha_off; say .botstakedamage on"

alias "give_armoursuit" "give item_assaultsuit; say .armoursuit"

alias "toggle_impacts" "impacts_on"
alias "impacts_on" "sv_showimpacts 1; alias toggle_impacts impacts_off; say .impacts on"
alias "impacts_off" "sv_showimpacts 0; alias toggle_impacts impacts_on; say .impacts off"

alias "toggle_penetration" "penetration_on"
alias "penetration_on" "sv_showimpacts_penetration 1; alias toggle_penetration penetration_off; say .penetration on"
alias "penetration_off" "sv_showimpacts_penetration 0; alias toggle_penetration penetration_on; say .penetration off"

alias "toggle_trajectory" "trajectory_off" 
alias "trajectory_off" "sv_grenade_trajectory_prac_trailtime 0; alias toggle_trajectory trajectory_on; say .trajectory off"
alias "trajectory_on" "sv_grenade_trajectory_prac_trailtime 5; alias toggle_trajectory trajectory_off; say .trajectory on"

alias "toggle_camera" "preview_off" 
alias "preview_off" "sv_grenade_trajectory_prac_pipreview false; alias toggle_camera preview_on; say .preview off"
alias "preview_on" "sv_grenade_trajectory_prac_pipreview true; alias toggle_camera preview_off; say .preview on"

alias "toggle_bhop" "bhop_on"
alias "bhop_on" "sv_autobunnyhopping true; alias toggle_bhop bhop_off; say .bhop on"
alias "bhop_off" "sv_autobunnyhopping false; alias toggle_bhop bhop_on; say .bhop off"

alias "toggle_noflash" "noflash_off"
alias "noflash_off" "noblind off;  alias toggle_noflash noflash_on; say .noflash off"
alias "noflash_on" "noblind;  alias toggle_noflash noflash_off; say .noflash"

alias "toggle_xray" "xray_off"
alias "xray_off" "xray off; alias toggle_xray xray_on; say .xray off"
alias "xray_on" "xray; alias toggle_xray xray_off; say .xray on"


# Nade mode
alias "armprev" "invprev; nade_mode_false; viewmodel_presetpos_default"
alias "armnext" "invnext; nade_mode_false; viewmodel_presetpos_default"
alias "armlast" "lastinv; nade_mode_false; viewmodel_presetpos_default"

alias "armdrop" "drop; nade_mode_false; viewmodel_presetpos_default"

alias "+bombdrop" "slot5; nade_mode_false; viewmodel_presetpos_default"
alias "-bombdrop" "drop"

alias "primary" "slot1; nade_mode_false; viewmodel_presetpos_default"
alias "Secondary" "slot2; nade_mode_false; viewmodel_presetpos_default"

alias "+knife" "+lookatweapon; slot3; nade_mode_false; viewmodel_presetpos_default"
alias "-knife" "-lookatweapon"

alias "bomb" "slot5; nade_mode_false; viewmodel_presetpos_default"
alias "zeus" "slot11; nade_mode_false; viewmodel_presetpos_default"

alias "+he" "open_buymenu; pickup_groundweapon 44; close_buymenu; buy hegrenade; slot6"
alias "-he" "slot6; nade_mode_true; viewmodel_presetpos_nade" 
   
alias "+flash" "open_buymenu; pickup_groundweapon 43; close_buymenu; buy flashbang; slot7" 
alias "-flash" "slot7; nade_mode_true; viewmodel_presetpos_nade"

alias "+smoke" "open_buymenu; pickup_groundweapon 45; close_buymenu; buy smokegrenade; slot8"
alias "-smoke" "slot8; nade_mode_true; viewmodel_presetpos_nade" 

alias "+decoy" "open_buymenu; pickup_groundweapon 47; close_buymenu; buy decoy; slot10" 
alias "-decoy" "slot9; nade_mode_true; viewmodel_presetpos_nade"
   
alias "+molly" "open_buymenu; pickup_groundweapon 46; pickup_groundweapon 48; close_buymenu; buy molotov; buy incgrenade; slot10" 
alias "-molly" "slot10; nade_mode_true; viewmodel_presetpos_nade"


alias "nade_mode_true" "bind MOUSE1 +mouse1_nade_mode; bind MOUSE2 +mouse2_nade_mode; alias -mouse1_nade_mode -attack; alias -mouse2_nade_mode -attack2"
alias "nade_mode_false" "bind MOUSE1 +attack; bind MOUSE2 +attack2"

alias "+mouse1_nade_mode" "+attack; alias -mouse1_nade_mode mouse1_nade_mode_false"
alias "+mouse2_nade_mode" "+attack2; alias -mouse2_nade_mode mouse2_nade_mode_false"

alias "mouse1_nade_mode_false" "-attack; savenade; nade_mode_false; viewmodel_presetpos_default"
alias "mouse2_nade_mode_false" "-attack2; nade_mode_false; viewmodel_presetpos_default"


alias "savenade" "clearpos 1; savepos; getpos; getpos_exact"





play sounds\weapons\taser\taser_charge_ready.vsnd_c
