
# =============================================================================
#                              CONVARS MENU CLOSED
#      When you release RIGHT SHIFT the keys get rebound to default ones.
# =============================================================================

# ================================= KEY BINDS =================================

# Select map
bind "SCANCODE30" ""                                                           //1 KEY
bind "SCANCODE31" "primary"                                                    //2 KEY
bind "SCANCODE32" "secondary"                                                  //3 KEY
bind "SCANCODE33" "+knife"                                                     //4 KEY
bind "SCANCODE34" "zeus"                                                       //5 KEY
bind "SCANCODE35" "bomb"                                                       //6 KEY
bind "SCANCODE36" "+molotov"                                                   //7 KEY
bind "SCANCODE37" "+incendiary"                                                //8 KEY
bind "SCANCODE38" ""                                                           //9 KEY
bind "SCANCODE39" "+bot_kick"                                                  //0 KEY


# Toggle ConVars
bind "SCANCODE4" "+sprint"                                                     //A key
bind "SCANCODE5" "+buymenu"                                                    //B key
bind "SCANCODE6" "+smoke"                                                      //C key
bind "SCANCODE9" "+right"                                                      //F key
bind "SCANCODE11" "+decoy"                                                     //H key
bind "SCANCODE12" "say .cleanup"                                               //I key
bind "SCANCODE13" ""                                                           //J key
bind "SCANCODE16" "teammenu"                                                   //M key
bind "SCANCODE19" "say .restore"                                               //P key
bind "SCANCODE21" "+use"                                                       //R key
bind "SCANCODE23" "rethrow"                                                    //T key
bind "SCANCODE27" "+he"                                                        //X key