
# =============================================================================
#                                CONVARS MENU OPEN
#     When you hold RIGHT SHIFT some of you keys gets rebound so that you can
#             choose a map instant line-ups or toggle some convars.
# =============================================================================

# ================================= KEY BINDS =================================

# Select map
bind "SCANCODE30" "exec practiceutils/maps/de_ancient"                         //1 KEY
bind "SCANCODE31" "exec practiceutils/maps/de_anubis"                          //2 KEY
bind "SCANCODE32" "exec practiceutils/maps/de_cache"                           //3 KEY
bind "SCANCODE33" "exec practiceutils/maps/de_dust2"                           //4 KEY
bind "SCANCODE34" "exec practiceutils/maps/de_inferno"                         //5 KEY
bind "SCANCODE35" "exec practiceutils/maps/de_mirage"                          //6 KEY
bind "SCANCODE36" "exec practiceutils/maps/de_nuke"                            //7 KEY
bind "SCANCODE37" "exec practiceutils/maps/de_overpass"                        //8 KEY
bind "SCANCODE38" "exec practiceutils/maps/de_train"                           //9 KEY
bind "SCANCODE39" "exec practiceutils/maps/de_vertigo"                         //0 KEY


# Toggle ConVars
bind "SCANCODE4" "give_armoursuit"                                             //A key
bind "SCANCODE5" "toggle_buddha"                                               //B key
bind "SCANCODE6" "toggle_camera"                                               //C key
bind "SCANCODE9" "toggle_noflash"                                              //F key
bind "SCANCODE11" "toggle cl_draw_only_deathnotices true false"                //H key
bind "SCANCODE12" "toggle_impacts"                                             //I key
bind "SCANCODE13" "toggle_bhop"                                                //J key
bind "SCANCODE16" "say .mapgrenades"                                           //M key
bind "SCANCODE19" "toggle_penetration"                                         //P key
bind "SCANCODE21" "toggle_regeneration"                                        //R key
bind "SCANCODE23" "toggle_trajectory"                                          //T key
bind "SCANCODE27" "toggle_xray"                                                //X key