
# =============================================================================
#                      DEMO UI HOTKEYS (REFRAG COMPATIBLE)
#               These keybind are matched those of media players.
# =============================================================================

# ================================= KEY BINDS =================================

# Interface
bind "G" "drop"                                                                //Toggle mouse cursor
bind "H" "toggle cl_draw_only_deathnotices 0 1"                                //Toggle HUD
bind "F" "demoui"                                                              //Toggle DemoUI
Bind "X" "toggle spec_show_xray"                                               //Toggle X-Ray
bind "B" "toggle r_csgo_effects_bloom false true"                              //Toggle bloom effect

# Playback
bind "SPACE" "demo_togglepause; say .pp"                                       //Toggle pause (refrag compatible)
bind "Q" "demo_gototick -320 relative; say .rewind 5"                          //Rewind 5 seconds (refrag compatible)
bind "E" "demo_gototick 640 relative"                                          //Fast forward 10 seconds
bind "" "+fastforwarddec"                                                      //Decrease playback speed by 10 times by holding a key
bind "SHIFT" "+fastforwardinc"                                                 //Increase playback speed by 15 times by holding a key
bind "DOWNARROW" "demo-speed_dec; say .slowdown"                               //Decrease playback speed (refrag compatible)
bind "UPARROW" "demo-speed_inc; say .speedup"                                  //Increase playback speed (refrag compatible)
bind "LEFTARROW" "say .p"                                                      //Previous round (refrag only)
bind "RIGHTARROW" "say .n"                                                     //Next round (refrag only)

# Players (refrag only)
bind "Q" "say .spec"                                                           //Moves all players to spectate
bind "O" "say .observeme"                                                      //Locks all players POVs to observer
bind "P" "say .stopobserve"                                                    //Removes POV lock to observer





# ==================================== LOGIC ==================================

r_spectator_flashbang_opacity "1"

alias "+fastforwarddec" "demo_timescale 0.1; cl_clock_correction 0"
alias "-fastforwarddec" "demo_timescale 1; cl_clock_correction 0"

alias "+fastforwardinc" "demo_timescale 15; cl_clock_correction 0"
alias "-fastforwardinc" "demo_timescale 1; cl_clock_correction 0"


alias "speed_x01" "demo_timescale 0.1; alias demo-speed_dec; alias demo-speed_inc speed_x05"
alias "speed_x05" "demo_timescale 0.5; alias demo-speed_dec speed_x01; alias demo-speed_inc speed_x10"
alias "speed_x10" "demo_timescale 1.0; alias demo-speed_dec speed_x05; alias demo-speed_inc speed_x15"
alias "speed_x15" "demo_timescale 1.5; alias demo-speed_dec speed_x10; alias demo-speed_inc speed_x20"
alias "speed_x20" "demo_timescale 2.0; alias demo-speed_dec speed_x15; alias demo-speed_inc speed_x40"
alias "speed_x40" "demo_timescale 4.0; alias demo-speed_dec speed_x20; alias demo-speed_inc speed_x80"
alias "speed_x80" "demo_timescale 8.0; alias demo-speed_dec speed_x40; alias demo-speed_inc"

alias "demo-speed_dec" "speed_x05"
alias "demo-speed_inc" "speed_x15"





play sounds\weapons\taser\taser_charge_ready.vsnd_c
