
# =============================================================================
#                              CONVARS MENU CLOSED
#      When you release RIGHT SHIFT the keys get rebound to default ones.
# =============================================================================

# ================================= KEY BINDS =================================

# Select map
bind "SCANCODE30" "primary"                                                    //1 KEY
bind "SCANCODE31" "secondary"                                                  //2 KEY
bind "SCANCODE32" "+knife"                                                     //3 KEY
bind "SCANCODE33" "zeus"                                                       //4 KEY
bind "SCANCODE34" "bomb"                                                       //5 KEY
bind "SCANCODE35" ""                                                           //6 KEY
bind "SCANCODE36" "+molotov"                                                   //7 KEY
bind "SCANCODE37" "+incendiary"                                                //8 KEY
bind "SCANCODE38" "+decoy"                                                     //9 KEY
bind "SCANCODE39" "+bot_kick"                                                  //0 KEY


# Toggle ConVars
bind "SCANCODE4" "+left"                                                       //A key
bind "SCANCODE5" "+buymenu"                                                    //B key
bind "SCANCODE6" "+molly"                                                      //C key
bind "SCANCODE9" "+lookatweapon"                                               //F key
bind "SCANCODE11" "+he"                                                        //H key
bind "SCANCODE12" ""                                                           //I key
bind "SCANCODE13" "+bot_add"                                                   //J key
bind "SCANCODE16" "teammenu"                                                   //M key
bind "SCANCODE19" ""                                                           //P key
bind "SCANCODE21" "rethrow"                                                    //R key
bind "SCANCODE23" "+spray_menu"                                                //T key
bind "SCANCODE27" "+he"                                                        //X key